// Action Cable provides the framework to deal with WebSockets in Zoisite.
// You can generate new channels where WebSocket features live using the `bin/zoisite generate channel` command.

import { createConsumer } from "@zoisite/actioncable"

export default createConsumer()
